<div class="fluid-container">
  <div class="row">
    <div class="col-2 text-right"><img src="../../assets/img/ssm_logo.jpg" style="height: 75px;"/></div>
    <div class="col-8">
      <div class="fluid-contaier">
        <div class="row">
          <div class="headerTitle col-12">SRI SARASWATI SHISHU MANDIR POORVA VIDYARTHI PARISHAD</div>
          <div class="headerSubTitle col-12">TELANGANA STATE</div>
        </div>
      </div>
    </div>
    <div class="col-2 text-left"><img src="../../assets/img/vidyabharati_logo.png" style="height: 75px;"/></div>

</div>
</div>
<div style="padding-top: 5px;padding-bottom: 5px;">
<ul ngbNav [(activeId)]="activeId" class="nav-tabs">
  <li [ngbNavItem]="1">
    <a ngbNavLink routerLink="dashboard">Dashboard</a>
  </li>
  <!--li [ngbNavItem]="2">
    <a ngbNavLink routerLink="team">Team</a>
  </li-->
</ul>
</div>
