.green-rows {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.yellow-rows {
  color: yellow;
}
.orange-rows {
  font-family:  Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: italic;
}

