/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import "../node_modules/ag-grid-community/dist/styles/ag-grid.css";
@import "../node_modules/ag-grid-community/dist/styles/ag-theme-balham.css";

body {
  margin: 10px;
}

.headerTitle {
  font-family: Georgia, serif;
  font-size: x-large;
  color: darkcyan;
  text-align: center;
}
.headerSubTitle {
  font-family: Georgia, serif;
  color: burlywood;
  text-align: center;
}
.green-rows {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.yellow-rows {
  color: yellow;
}
.orange-rows {
  font-family:  cursive;
  font-style: italic;
}
.small-font {
  font-size: .8em;
}


